@charset "utf-8";
//底部
.ft_wrap {
    background: #FFF;
}
//底部——上面
.footer_top {
    padding: 30px 0;
    border-bottom: 1px solid #ebebeb;
    a {
        float: left;
        display: block;
        _display: inline;
        width: 205px;
        overflow: hidden;
        margin: 0 51px;
        img {
            float: left;
            display: block;
            _display: inline;
            width: 66px;
            height: 66px;
            margin-right: 15px;
        }
        b {
            display: block;
            margin-top: 10px;
            font-family: "Microsoft YaHei";
            font-size: 16px;
            color: #333;
        }
        span {
            font-family: "Microsoft YaHei";
            font-size: 14px;
            color: #999;
            line-height: 26px;
        }
    }
}
//底部--中间部分
.footer_middle {
    padding: 20px 0 20px;
    overflow: hidden;
}
.footer_middle_list {
    float: left;
    padding-left: 15px;
}
.footer_middle dl {
    float: left;
    display: block;
    _display: inline;
    width: 195px;
    dt {
        height: 32px;
        padding: 0 8px;
        font-size: 14px;
        color: #666;
        line-height: 32px;
        overflow: hidden;
        color: #666;
        font-weight: bold;
    }
    dd {
        height: 24px;
        padding: 0 8px;
        line-height: 24px;
        overflow: hidden;
        white-space: normal;
        font-size: 12px;
        a {
            color: #666;
        }
    }
}
.footer_erweima {
    width: 280px;
    overflow: hidden;
    float: left;
    margin-right: -50px;
    .erweima_mobile {
        float: left;
        margin-right: 50px;
        line-height: 32px;
        font-size: 14px;
        font-weight: bold;
        color: #666;
    }
}
//底部--最下面部分
.footer_bottom p {
    color: #666;
    text-align: center;
    text-indent: 0;
    line-height: 100%;
    margin: 15px 0;
    padding: 0;
}
.footer_bottom_link a {
    color: #666;
    margin: 0px 10px;
}
.footer_bottom_brand {
    display: block;
    padding: 10px 0 20px;
    text-align: center;
    font-size: 0;
    a {
        display: inline-block;
        margin: 0 4px;
    }
}
//登录注册底部
.simplefooter {
    width: 980px;
    margin: 20px auto 0;
    text-align: center;
}
.simplefooter a {
    margin: 0 8px;
    color: #333;
}
.simplefooter p {
    margin-top: 10px;
    color: #333;
}