@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont_new.eot?afc307a7?#iefix") format("embedded-opentype"), url("../fonts/iconfont_new.woff?afc307a7") format("woff"), url("../fonts/iconfont_new.ttf") format("truetype"), url("../fonts/iconfont_new.svg#uxiconfont") format("svg");
}
.prism_iconfont, .index_iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
}

.hd_iconfont {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iconfont180315';
  src: url("../fonts/iconfont180315.eot?afc307a7?#iefix") format("embedded-opentype"), url("../fonts/iconfont180315.woff?afc307a7") format("woff"), url("../fonts/iconfont180315.ttf") format("truetype"), url("../fonts/iconfont180315.svg#uxiconfont") format("svg");
}
.iconfont180315 {
  font-family: "iconfont180315" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrap {
  width: 1228px;
  margin: 0 auto;
}
.wrap:after {
  content: " ";
  display: table;
  clear: both;
}

.h_top_bar {
  height: 30px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #f4f4f4;
  line-height: 30px;
}

.hd_province {
  float: left;
}

.h_top_bar .hd_topbar_city {
  color: #666;
}

.h_top_bar .hd_topbar_city i {
  color: #ff4040;
}

.topbar_right {
  float: right;
  color: #666;
}

.topbar_right ul {
  float: left;
}

.topbar_right li {
  position: relative;
  float: left;
  height: 30px;
}

.topbar_right .login {
  float: left;
  padding: 0 10px;
}

.login span {
  color: #ff4040;
}

.login .log {
  color: #ff4040;
}

.login .reg {
  color: #aaa;
}

.topbar_right .hd_menu a {
  color: #666;
}

.h_top_bar .topbar_right li i.hd_iconfont {
  width: 14px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  color: #aaa;
}

.topbar_right .hd_title {
  float: left;
  min-width: 66px;
  width: 66px;
  height: 30px;
  padding: 0 10px;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
}

.topbar_right .hd_title a {
  color: #666;
}

.topbar_right .hd_title a:hover {
  color: #ff4040;
}

.h_top_bar .topbar_right .hd_menu {
  float: left;
  min-width: 66px;
  _width: 66px;
  height: 30px;
  padding: 0 10px;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
}

.topbar_right .hd_menu_list {
  position: absolute;
  top: 29px;
  left: 0px;
  display: none;
  width: 86px;
  padding: 5px 0;
  border: 1px solid #dbdbdb;
  border-top: 0 none;
  background-color: #fff;
}

.h_top_bar .topbar_right .hd_menu_list a {
  display: block;
  padding: 0 0 0 10px;
  line-height: 26px;
}

.topbar_right .hd_title .iconfont180315 {
  font-size: 18px;
  position: relative;
  top: 4px;
}

.topbar_right .hd_qrcode_bg {
  position: absolute;
  top: 30px;
  left: -10px;
  display: none;
  padding: 15px 9px 9px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
}

.topbar_right .hd_qrcode_bg .triangle {
  width: 0;
  height: 0;
  border-top: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #e5e5e5;
  position: absolute;
  top: -7px;
  left: 46px;
}

.topbar_right .hd_qrcode_bg p {
  text-align: center;
  line-height: 12px;
  margin-bottom: 7px;
}

.topbar_right .hd_qrcode_bg img {
  width: 90px;
  height: 90px;
}

.topbar_right .erweima:hover .hd_qrcode_bg {
  display: block;
  position: absolute;
  top: 30;
  left: -10;
  padding: 15px 9px 9px;
  border: #31017B px solid #e5e5e5;
  background-color: #fff;
}

.topbar_right .client:hover .hd_iconfont {
  transform: rotate(180deg);
  transition: all 0.2s linear;
}

.topbar_right .client:hover .hd_menu {
  background-color: #fff;
  border-color: #dbdbdb;
}

.topbar_right .client:hover .hd_menu_list {
  display: block;
}

.client {
  z-index: 600;
}

.erweima {
  z-index: 600;
}

.client a:hover {
  color: #ff4040;
}

.h_bottom_wrap {
  height: 150px;
  background-color: #fff;
}

.h_bottom_bar .hd_logo_area {
  float: left;
  width: 205px;
  height: 150px;
  margin-left: -25px;
}

.hd_logo_area .hd_logo {
  position: relative;
  display: block;
  width: 205px;
  height: 150px;
}

.hd_header_right {
  float: right;
  width: 974px;
  padding: 32px 14px 0 35px;
}
.hd_header_right .hd_head_search {
  position: relative;
  z-index: 501;
  padding-top: 40px;
  float: left;
  width: 754px;
}
.hd_header_right .hd_head_search .hd_search_form {
  position: absolute;
  top: 0;
  left: 0;
}

.hd_search_wrap {
  position: relative;
  z-index: 501;
  padding: 2px;
  _padding: 2px 2px 0px 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #ff4040;
}
.hd_search_wrap .hd_search_ipt {
  float: left;
  width: 685px;
  height: 36px;
  outline: 0 none;
  border: 0 none;
  padding-left: 15px;
  font-size: 14px;
  color: #aaa;
  line-height: 36px;
}
.hd_search_wrap .hd_search_btn {
  float: left;
  width: 50px;
  height: 36px;
  border: 0 none;
  background-color: #ff4040;
  text-align: center;
  line-height: 36px;
  color: #fff;
  cursor: pointer;
}
.hd_search_wrap .hd_search_btn i {
  font-size: 24px;
  text-decoration: none;
  font-style: normal;
}

.hd_hot_search {
  height: 36px;
  overflow: hidden;
}
.hd_hot_search a {
  float: left;
  margin-right: 15px;
  line-height: 36px;
  color: #aaa;
  font-size: 14px;
}

.hd_mini_cart {
  position: relative;
  z-index: 501;
  float: right;
}
.hd_mini_cart .hd_prism_cart {
  display: block;
  width: 130px;
  height: 20px;
  overflow: hidden;
  padding: 9px 0 9px;
  border: 1px solid #d7d7d7;
  background: #fff;
  text-align: center;
  line-height: 20px;
  color: #666;
  font-size: 16px;
}
.hd_mini_cart .hd_prism_cart em {
  margin-right: 12px;
  font-size: 20px;
}

.hd_header_nav {
  height: 40px;
  overflow: hidden;
  line-height: 40px;
}
.hd_header_nav li {
  display: inline;
  float: left;
  margin-right: 30px;
  font-size: 16px;
}

.regist_header {
  padding: 16px;
  background: #FFF;
  border: 1px solid #e1e1e1;
}

.regist_header .wrap {
  width: 1200px;
}

.regist_header .logo {
  display: block;
  float: left;
  width: 54px;
  height: 48px;
}

.regist_header_right {
  float: right;
  line-height: 20px;
  color: #999;
}

.regist_header_right .help_wrap {
  position: relative;
  z-index: 1010;
  float: right;
  padding: 0 6px;
  margin-left: 25px;
}
.regist_header_right .help_wrap a.hd_menu {
  padding-right: 18px;
  background: url(../images/regist.png?89c7455) no-repeat right -27px;
  color: #333;
}

.regist_header_right .help_wrap a.hd_menu .help_ico {
  width: 16px;
  height: 18px;
  display: inline-block;
  margin-right: 6px;
  background: url(../images/regist.png?89c7455) no-repeat -344px 0;
  vertical-align: middle;
}

.regist_header_right .help_wrap .hd_menu_list {
  display: none;
  position: absolute;
  z-index: -1;
  top: 0px;
  right: 0;
  width: 98px;
  padding-top: 21px;
  border: 1px solid #ccc;
}

.regist_header_right .help_wrap_hover .hd_menu_list ul {
  background: #FFF;
}

.regist_header_right .hd_menu_list a {
  height: 24px;
  display: block;
  padding-left: 25px;
  border-top: 1px dotted #e4e4e4;
  background: #FFF;
  line-height: 24px;
}

.fr {
  float: right;
}

a.blue_link {
  color: #06c;
}

.ft_wrap {
  background: #FFF;
}

.footer_top {
  padding: 30px 0;
  border-bottom: 1px solid #ebebeb;
}
.footer_top a {
  float: left;
  display: block;
  _display: inline;
  width: 205px;
  overflow: hidden;
  margin: 0 51px;
}
.footer_top a img {
  float: left;
  display: block;
  _display: inline;
  width: 66px;
  height: 66px;
  margin-right: 15px;
}
.footer_top a b {
  display: block;
  margin-top: 10px;
  font-family: "Microsoft YaHei";
  font-size: 16px;
  color: #333;
}
.footer_top a span {
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color: #999;
  line-height: 26px;
}

.footer_middle {
  padding: 20px 0 20px;
  overflow: hidden;
}

.footer_middle_list {
  float: left;
  padding-left: 15px;
}

.footer_middle dl {
  float: left;
  display: block;
  _display: inline;
  width: 195px;
}
.footer_middle dl dt {
  height: 32px;
  padding: 0 8px;
  font-size: 14px;
  color: #666;
  line-height: 32px;
  overflow: hidden;
  color: #666;
  font-weight: bold;
}
.footer_middle dl dd {
  height: 24px;
  padding: 0 8px;
  line-height: 24px;
  overflow: hidden;
  white-space: normal;
  font-size: 12px;
}
.footer_middle dl dd a {
  color: #666;
}

.footer_erweima {
  width: 280px;
  overflow: hidden;
  float: left;
  margin-right: -50px;
}
.footer_erweima .erweima_mobile {
  float: left;
  margin-right: 50px;
  line-height: 32px;
  font-size: 14px;
  font-weight: bold;
  color: #666;
}

.footer_bottom p {
  color: #666;
  text-align: center;
  text-indent: 0;
  line-height: 100%;
  margin: 15px 0;
  padding: 0;
}

.footer_bottom_link a {
  color: #666;
  margin: 0px 10px;
}

.footer_bottom_brand {
  display: block;
  padding: 10px 0 20px;
  text-align: center;
  font-size: 0;
}
.footer_bottom_brand a {
  display: inline-block;
  margin: 0 4px;
}

body {
  background-color: #f5f5f5;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.wrap {
  width: 1228px;
  margin: 0 auto;
}

.topbanner_wrap {
  background: #31017B;
}

.topbanner_wrap .index_topbanner {
  position: relative;
  overflow: hidden;
}

.topbanner_wrap .big_topbanner {
  display: none;
}

.topbanner_wrap .small_topbanner {
  display: block;
}

.topbanner_wrap .close_btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 20px;
  color: #fff;
}

.first_screen_main {
  position: relative;
  min-width: 1228px;
  height: 400px;
}
.first_screen_main .promotion_skin {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 540px;
  overflow: hidden;
}
.first_screen_main .promotion_skin .left_promotion_skin {
  left: 50%;
  margin-left: -964px;
}
.first_screen_main .promotion_skin .right_promotion_skin {
  right: 50%;
  margin-right: -964px;
}

.promotion_skin .left_promotion_skin, .promotion_skin .right_promotion_skin {
  position: absolute;
  top: 0;
  width: 350px;
  height: 540px;
  background-repeat: no-repeat;
}

.banner_wrap {
  position: relative;
}

.hd_allsort {
  position: absolute;
  z-index: 103;
  width: 205px;
  height: 400px;
  left: 18;
  background-color: rgba(48, 48, 48, 0.9);
  clear: left;
}
.hd_allsort .hd_allsort {
  padding-top: 2px;
}
.hd_allsort .hd_allsort li {
  margin-bottom: 1px;
  display: inline;
  display: block;
}
.hd_allsort .hd_allsort li h3 {
  height: 32px;
  overflow: hidden;
  padding: 0 10px 0 0;
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
}

.hd_allsort .hd_allsort li h3 .hd_iconfont {
  display: inline-block;
  width: 20px;
  margin: 0 14px;
  text-align: right;
  vertical-align: middle;
  text-decoration: none;
  font-family: "iconfont";
  font-size: 20px;
  font-style: normal;
  color: #737373;
}

.hd_allsort .hd_allsort li h3 a {
  display: inline-block;
  font-weight: normal;
  font-size: 12px;
  color: #fff;
  white-space: nowrap;
}

.hd_allsort .hd_show_sort {
  display: none;
  position: absolute;
  top: 0px;
  left: 205px;
  width: 1024px;
  min-height: 390px;
  _height: 390px;
  padding-top: 10px;
  z-index: 10;
  overflow: hidden;
  border: 0;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.hd_allsort .hd_good_category {
  float: left;
  width: 747px;
  padding: 2px 14px 10px 14px;
  border-right: 1px solid #f2f2f2;
}
.hd_allsort .hd_good_category dt {
  float: left;
  width: 72px;
  height: 39px;
  padding-right: 9px;
  line-height: 38px;
  font-weight: bold;
  text-align: right;
  overflow: hidden;
}
.hd_allsort .hd_good_category dt a {
  color: #666;
}
.hd_allsort .hd_good_category dd {
  float: left;
  display: block;
  width: 657px;
  line-height: 24px;
  padding: 7px 0px;
  border-bottom: 1px solid #f2f2f2;
}
.hd_allsort .hd_good_category dd a {
  display: inline-block;
  margin: 0 9px;
  color: #666;
}

.hd_allsort .hd_good_category dd a.hd_higlight_red {
  color: #ff4040;
}

.hd_allsort .hd_good_logo {
  float: left;
  width: 228px;
  width: 227px;
  padding-top: 6px;
  padding-left: 20px;
  font-size: 0px;
}

.hd_allsort .hd_allsort li {
  margin-bottom: 1px;
  _display: inline;
  display: block;
}

.hd_allsort .seller_logo a {
  display: inline-block;
  width: 80px;
  height: 32px;
  margin: 0 19px 12px 10px;
}

.hd_allsort .seller_pic a {
  display: inline-block;
  width: 205px;
  height: 110px;
  margin-bottom: 14px;
}

.hd_allsort .hd_allsort li:hover .hd_show_sort {
  display: block;
}

.hd_allsort .hd_allsort li h3:hover {
  background: #fff;
}

.hd_allsort .hd_allsort li h3:hover a {
  color: #666;
}

.hd_allsort .hd_allsort li h3:hover > .hd_iconfont {
  color: #FF4040;
}

.promo_img {
  height: 400px;
  margin-left: 205px;
}

.vip2_center {
  background-image: url(../images/vip_bg2.png);
  background-repeat: no-repeat;
}

.personal_center {
  position: absolute;
  z-index: 102;
  right: 20px;
  top: 48px;
  width: 205px;
  padding-top: 56px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.personal_center .avata_pic_wrap {
  position: absolute;
  top: -26px;
  left: 67px;
  width: 64px;
  height: 64px;
  padding: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
}
.personal_center .avata_pic_wrap img {
  width: 64px;
  height: 64px;
}
.personal_center .avata_pic_wrap a {
  display: block;
  width: 64px;
  height: 64px;
  overflow: hidden;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: url(../images/globalhead_sprite.png?801dc06) no-repeat 0 -150px;
}

.personal_center .unlogin_box {
  padding-bottom: 30px;
  text-align: center;
  color: #999;
  line-height: 20px;
}

.personal_center .tips {
  height: 16px;
  overflow: hidden;
  padding: 0 5px;
  line-height: 16px;
}

.personal_center .unlogin_box .btn_wrap {
  margin-top: 13px;
}

.personal_center .unlogin_box a.login_btn, .personal_center .unlogin_box a.regist_btn {
  display: inline-block;
  width: 68px;
  height: 24px;
  margin: 0 5px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  border: 1px solid #ff4040;
  background-color: #fff;
  color: #ff4040;
  line-height: 24px;
  text-align: center;
}

.personal_center .notice_list {
  height: 72px;
  margin: 9px 12px;
  overflow: hidden;
}
.personal_center .notice_list a {
  display: block;
  height: 24px;
  overflow: hidden;
  color: #666;
  line-height: 24px;
}
.personal_center .notice_list a em {
  color: #f76969;
}

.num_one_qiang {
  margin-top: 10px;
  height: 140px;
}

.title_pic {
  float: left;
  width: 205px;
  overflow: hidden;
  background: url(../images/globalhead_sprite.png?801dc06) no-repeat 0 0;
  position: relative;
  height: 140px;
  padding-top: 0;
}
.title_pic img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.title_pic span {
  position: absolute;
  width: 60px;
  padding-right: 20px;
  background: #b5012f url(../images/btn_more.png?801dc06) no-repeat 66px center;
  height: 25px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  left: 61px;
  bottom: 10px;
  color: #FFF;
  text-align: right;
  line-height: 25px;
}

.right_list_wrap {
  position: relative;
  z-index: 100;
  float: left;
  width: 1023px;
  height: 140px;
  overflow: hidden;
  background-color: #fff;
}

.right_list_wrap .prev, .right_list_wrap .next {
  position: absolute;
  z-index: 115;
  top: 50px;
  width: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #333;
  font-size: 20px;
  display: block;
}

.right_list_wrap a.prev {
  left: -30px;
}

.right_list_wrap a.next {
  right: 5px;
  background-color: rgba(0, 0, 0, 0.15);
}

.right_list {
  position: relative;
  z-index: 110;
  float: left;
  width: 1023px;
  height: 140px;
  overflow: hidden;
}
.right_list ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 9999px;
}
.right_list ul li {
  position: relative;
  z-index: 100;
  width: 256px;
  float: left;
}
.right_list ul li .dotted_line {
  position: absolute;
  top: 34px;
  left: -1px;
  width: 1px;
  height: 70px;
  border-right: 1px dotted #e5e5e5;
}
.right_list ul li a {
  display: block;
  padding: 15px 20px;
}

.right_list .pro_detail {
  float: left;
  width: 100px;
}
.right_list .pro_detail .pro_name {
  height: 40px;
  overflow: hidden;
  margin-bottom: 12px;
  color: #666;
  font-size: 14px;
  line-height: 20px;
}
.right_list .pro_detail .pro_price {
  margin-bottom: 2px;
  color: #ff4040;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}
.right_list .pro_detail .reference_price {
  width: 100px;
  height: 20px;
  overflow: hidden;
  color: #aaa;
  line-height: 20px;
  white-space: nowrap;
}

.pro_pic {
  float: right;
  width: 110px;
  height: 110px;
}

.right_list ul li .marking_label {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 32px;
  height: 28px;
  padding: 5px 2px 4px 3px;
  overflow: hidden;
  background: url(../images/globalhead_sprite.png?801dc06) no-repeat -160px -150px;
  line-height: 14px;
  text-align: center;
  color: #fff;
}

.num_one_shan {
  margin-top: 20px;
}
.num_one_shan .left_banner {
  position: relative;
  _display: inline;
  float: left;
  width: 267px;
  height: 400px;
  overflow: hidden;
  margin-right: 12px;
}
.num_one_shan .left_banner img {
  width: 267px;
  height: 400px;
}

.num_one_shan h4 {
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-weight: normal;
}
.num_one_shan h4 em {
  display: inline-block;
  position: relative;
  top: -3px;
  width: 140px;
  margin-top: -3px;
  font-size: 18px;
}

.num_one_shan .banner_title {
  position: absolute;
  left: 50%;
  bottom: 34px;
  width: 200px;
  height: 100px;
  margin-left: -100px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
.num_one_shan .banner_title h4 {
  margin-top: 20px;
  font-size: 20px;
  color: #333;
  line-height: 24px;
}
.num_one_shan .banner_title .title_line {
  width: 30px;
  height: 10px;
  overflow: hidden;
  margin: 2px auto 0;
  border-top: 1px solid #333;
}
.num_one_shan .banner_title .title_time {
  height: 16px;
  overflow: hidden;
  font-size: 14px;
  line-height: 16px;
  color: #333;
}

.num_one_shan .group_buy {
  float: left;
  width: 484px;
  height: 400px;
  background: #fff url(../images/group_bg.png?801dc06) no-repeat center top;
}
.num_one_shan .group_buy h4 {
  margin-bottom: 7px;
  border-top: 1px solid #fb744b;
}
.num_one_shan .group_buy h4 a {
  color: #fff;
  cursor: pointer;
}
.num_one_shan .group_buy h4 a em {
  background: #fb6233;
}

.num_one_shan h4 em .left_triangle {
  position: absolute;
  top: 0;
  left: -4px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-bottom: 4px solid #c84e4e;
  border-left: 4px solid transparent;
  font-size: 0;
  line-height: 0;
}

.num_one_shan h4 em .right_triangle {
  position: absolute;
  top: 0;
  right: -4px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-bottom: 4px solid #c84e4e;
  border-right: 4px solid transparent;
  font-size: 0;
  line-height: 0;
}

.num_one_shan h4 em i {
  margin-right: 8px;
  font-size: 20px;
}

.num_one_shan .group_buy .group_today {
  position: relative;
  float: left;
  width: 250px;
  overflow: hidden;
  border-right: 1px solid #f0f0f0;
}
.num_one_shan .group_buy .group_today a {
  display: block;
  width: 250px;
  height: 360px;
}
.num_one_shan .group_buy .group_today a img {
  width: 250px;
  height: 360px;
}

.fr {
  float: right;
}
.fr .group_variety {
  position: relative;
  width: 232px;
  margin-top: 18px;
}
.fr .group_variety a {
  display: block;
  height: 180px;
  margin: 0 18px 0 20px;
  border-bottom: 1px solid #f0f0f0;
}
.fr .group_variety a img {
  position: absolute;
  right: 18px;
  bottom: 10px;
}
.fr .group_brand {
  position: relative;
  float: left;
  width: 232px;
}
.fr .group_brand a {
  display: block;
  height: 161px;
  padding: 0 18px 0 20px;
}
.fr .group_brand a img {
  position: absolute;
  right: 18px;
  bottom: 15px;
}

.num_one_shan .group_buy .group_tit {
  height: 18px;
  margin-bottom: 10px;
  overflow: hidden;
  font-size: 18px;
  color: #ec3639;
  line-height: 18px;
}

.num_one_shan .group_buy .sub_tit {
  position: relative;
  z-index: 105;
  width: 90px;
  height: 40px;
  overflow: hidden;
  font-size: 14px;
  color: #333;
  line-height: 20px;
}

.num_one_shan .group_buy .group_brand .group_tit {
  padding-top: 10px;
}

.num_one_shan .area_rank {
  float: right;
  width: 453px;
  height: 400px;
  background: #fff url(../images/group_bg.png?801dc06) no-repeat center top;
}
.num_one_shan .area_rank h4 {
  position: relative;
  border-top: 1px solid #f22e31;
}
.num_one_shan .area_rank h4 em {
  background: #f22e31;
}

.num_one_shan h4 a {
  color: #fff;
  cursor: pointer;
}

.num_one_shan .area_rank a.more {
  position: absolute;
  top: 7px;
  right: 14px;
  color: #999;
  line-height: 20px;
  font-size: 12px;
}
.num_one_shan .area_rank a.more span {
  margin-left: 5px;
  font-family: "\5b8b\4f53";
}

.num_one_shan .area_rank_list {
  margin-top: 5px;
}

.num_one_shan .rank_tab {
  position: relative;
  height: 35px;
  overflow: hidden;
  margin: 0 22px 0 21px;
  line-height: 34px;
}
.num_one_shan .rank_tab ul {
  border-bottom: 1px solid #eee;
}

.num_one_shan .rank_tab li {
  display: inline;
  float: left;
  width: 82px;
  text-align: center;
}

.num_one_shan .rank_tab li.cur a {
  color: #f22e31;
}

.num_one_shan .rank_tab li a {
  display: block;
  color: #666;
}

.num_one_shan .rank_tab .cur_item {
  position: absolute;
  left: 0;
  top: 33px;
  width: 82px;
  border-top: 2px solid #f22e31;
}

.num_one_shan .rank_content {
  height: 316px;
  padding: 10px 2px 0 1px;
}
.num_one_shan .rank_content li {
  _display: inline;
  float: left;
  width: 100px;
  margin: 15px 25px;
  cursor: pointer;
}
.num_one_shan .rank_content li a {
  position: relative;
  display: block;
  text-align: center;
}
.num_one_shan .rank_content li a a .discount_info {
  padding: 0px 6px;
  background-color: #fb6233;
  color: #fff;
  position: absolute;
  left: 0px;
  bottom: 29px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.num_one_shan .rank_content li img {
  width: 100px;
  height: 100px;
}

.num_one_shan .rank_content li .pro_name {
  height: 18px;
  overflow: hidden;
  margin-top: 10px;
  line-height: 18px;
}

.num_one_shan .rank_content li a .discount_info {
  padding: 0px 6px;
  background-color: #fb6233;
  color: #fff;
  position: absolute;
  left: 0px;
  bottom: 29px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.num_one_shan .rank_content li a i {
  position: absolute;
  top: -6px;
  left: -2px;
  width: 19px;
  height: 16px;
  overflow: hidden;
  line-height: 18px;
  text-align: center;
  color: #fff;
  font-style: normal;
  font-size: 11px;
}

.num_one_shan .rank_content li a .no_1 {
  background: url(../images/indexbody_sprite.png?801dc06) no-repeat -60px 0;
}

.num_one_shan .rank_content li a .no_2 {
  background: url(../images/indexbody_sprite.png?801dc06) no-repeat -90px 0;
}

.num_one_shan .rank_content li a .no_3 {
  background: url(../images/indexbody_sprite.png?801dc06) no-repeat -120px 0;
}

.love_new {
  margin-top: 20px;
}
.love_new .left_banner {
  _display: inline;
  float: left;
  width: 267px;
  height: 400px;
  overflow: hidden;
  margin-right: 12px;
}
.love_new .left_banner img {
  width: 267px;
  height: 400px;
}

.personal_clean {
  float: left;
  width: 484px;
  height: 400px;
  background: #fff url(../images/group_bg.png?801dc06) no-repeat center top;
}
.personal_clean h4 {
  border-top: 1px solid #dfa747;
}
.personal_clean h4 a {
  color: #fff;
}
.personal_clean h4 a em {
  background: #dfa747;
}

.love_new h4 {
  height: 32px;
  margin-bottom: 7px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-weight: normal;
}

.love_new h4 a {
  color: #fff;
}

.love_new h4 em {
  display: inline-block;
  position: relative;
  top: -3px;
  height: 32px;
  width: 140px;
  margin-top: -3px;
  font-size: 18px;
}

.love_new h4 em .left_triangle {
  position: absolute;
  top: 0;
  left: -4px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-bottom: 4px solid #a67724;
  border-left: 4px solid transparent;
  font-size: 0;
  line-height: 0;
}

.love_new h4 em .right_triangle {
  position: absolute;
  top: 0;
  right: -4px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-bottom: 4px solid #a67724;
  border-right: 4px solid transparent;
  font-size: 0;
  line-height: 0;
}

.love_new h4 em i {
  margin-right: 8px;
  font-size: 20px;
}

.love_new .personal_clean .brand_banner {
  float: left;
  display: block;
  _display: inline;
  width: 250px;
  height: 360px;
  overflow: hidden;
  border-right: 1px solid #f0f0f0;
}
.love_new .personal_clean .brand_banner img {
  width: 250px;
  height: 360px;
}

.love_new .personal_clean .brand_right {
  width: 200px;
}

.love_new .brand_right {
  float: right;
  height: 342px;
  overflow: hidden;
  margin-top: 1px;
  padding-right: 15px;
  font-size: 14px;
  line-height: 24px;
}

.love_new .brand_right li {
  position: relative;
  height: 90px;
  margin-bottom: 10px;
  padding: 10px 5px 10px;
  border-bottom: 1px solid #f0f0f0;
}

.love_new .brand_right .pro_tit {
  width: 95px;
  height: 24px;
  overflow: hidden;
  position: relative;
  z-index: 105;
  color: #333;
  line-height: 24px;
}

.love_new .brand_right .pro_sub_tit {
  position: relative;
  z-index: 105;
  height: 24px;
  overflow: hidden;
  color: #999;
}

.love_new .brand_right li a {
  height: 90px;
  display: block;
}

.love_new .brand_right li img {
  position: absolute;
  right: 5px;
  bottom: 10px;
}

.love_new .life_pie {
  float: right;
  width: 453px;
  height: 400px;
  background: #fff url(../images/group_bg.png?801dc06) no-repeat center top;
}
.love_new .life_pie h4 {
  position: relative;
  margin-bottom: 20px;
  border-top: 1px solid #f39156;
}
.love_new .life_pie h4 em {
  background: #f39156;
}

.love_new .life_pie a.brand_banner {
  position: relative;
  float: left;
  display: block;
  width: 205px;
  height: 210px;
  overflow: hidden;
  margin-left: 20px;
  padding-top: 8px;
  border-right: 1px solid #f0f0f0;
}
.love_new .life_pie a.brand_banner img {
  position: absolute;
  right: -5px;
  bottom: 0;
  width: 210px;
  height: 210px;
}
.love_new .life_pie a.brand_banner .pro_tit {
  position: relative;
  z-index: 105;
  margin-top: 8px;
  font-size: 16px;
  color: #333;
}
.love_new .life_pie a.brand_banner .pro_sub_tit {
  position: relative;
  z-index: 105;
  width: 85px;
  height: 40px;
  overflow: hidden;
  margin-top: 5px;
  line-height: 20px;
  color: #999;
  font-size: 14px;
}

.love_new .life_pie .brand_right {
  position: relative;
  width: 190px;
  height: 218px;
}

.love_new .life_pie .life_pic {
  padding: 10px 0 0 14px;
}
.love_new .life_pie .life_pic a {
  position: relative;
  float: left;
  display: block;
  width: 188px;
  height: 95px;
  overflow: hidden;
  margin: 0 6px;
  padding: 10px 0 0 12px;
}
.love_new .life_pie .life_pic a img {
  position: absolute;
  right: -5px;
  top: 0;
  widows: 205px;
  height: 105px;
}
.love_new .life_pie .life_pic a p {
  position: relative;
  z-index: 105;
  font-size: 14px;
  color: #fb6233;
}

.love_new .life_pie .life_pic p {
  position: relative;
  z-index: 105;
  font-size: 14px;
  color: #fb6233;
}

.love_new .life_pie .life_pic .go {
  font-size: 12px;
}
.love_new .life_pie .life_pic .go .index_iconfont {
  vertical-align: middle;
}

.love_new .life_pie .life_pic .brown_color p {
  color: #a2715b;
}

.adv_pic {
  height: 100px;
  background: #554499;
  margin-top: 20px;
}
.adv_pic a {
  display: block;
  height: 100px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center top;
}

.global_imported {
  height: 490px;
  margin-top: 20px;
}
.global_imported h4 {
  padding: 12px;
  font-size: 20px;
}
.global_imported h4 a {
  color: #645144;
}
.global_imported h4 a i {
  margin-left: 10px;
}

.global_imported .global_food {
  float: left;
  width: 930px;
  height: 450px;
}

.global_imported .left_banner {
  position: relative;
  float: left;
  width: 316px;
  height: 450px;
}
.global_imported .left_banner .banner_pic {
  position: absolute;
  bottom: 0;
  left: 0;
}

.global_imported .left_banner .banner_link {
  position: absolute;
  left: 20px;
  bottom: 10px;
}

.global_imported .left_banner li {
  float: left;
}
.global_imported .left_banner li a {
  display: block;
  width: 83px;
  height: 28px;
  margin: 0 10px 10px 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  line-height: 28px;
  color: #fff;
  font-size: 14px;
}

.global_imported .center_con {
  float: left;
  width: 609px;
  overflow: hidden;
  padding: 5px 5px 5px 0;
}

.global_imported .right_con {
  float: right;
  width: 203px;
  height: 440px;
  _overflow: hidden;
}

.global_imported .global_pic {
  position: relative;
  display: block;
  width: 405px;
  height: 220px;
  margin-bottom: 1px;
  background-color: #fff;
}
.global_imported .global_pic img {
  width: 405px;
  height: 220px;
}

.global_imported .pro_item_wrap {
  float: left;
}

.global_imported .pro_shoppe {
  padding-bottom: 1px;
}

.global_imported .pro_item_wrap .pro_shoppe {
  display: inline;
  float: left;
  width: 202px;
  margin-right: 1px;
}

.global_imported .pro_shoppe a {
  position: relative;
  display: block;
  height: 200px;
  padding: 20px 0 0 20px;
  background-color: #fff;
  font-size: 14px;
  line-height: 24px;
}

.global_imported .global_category {
  float: right;
  width: 298px;
}

.global_imported .global_category li {
  float: left;
}

.global_imported .global_category img {
  position: absolute;
  right: -5px;
  bottom: 0;
  width: 100px;
  height: 100px;
}

.global_imported .global_category .jk_mh {
  background-color: #ffe6ee;
}

.global_imported .global_category .jk_my {
  background-color: #fff3e4;
}

.global_imported .global_category .jk_sx {
  background-color: #e9fbf0;
}

.global_imported .global_category .jk_jj {
  background-color: #f9eee9;
}

.global_imported .global_category .jk_cw {
  background-color: #f0f8ff;
}

.global_imported .global_category .jk_bj {
  background-color: #e2f8f2;
}

.global_imported .global_category a {
  position: relative;
  display: block;
  width: 137px;
  height: 138px;
  overflow: hidden;
  padding: 12px 0 0 12px;
  line-height: 26px;
}

.china_food {
  height: 430px;
}

.index_floor {
  height: 430px;
  margin-top: 20px;
  background-color: #fff;
}

.index_floor .left_con {
  position: relative;
  float: left;
  width: 236px;
  height: 410px;
  padding-top: 20px;
  text-align: center;
}

.china_food .left_con {
  background-color: #f9ab57;
}

.index_floor .left_con h4 {
  font-weight: normal;
}

.index_floor .left_con h4 a {
  display: inline-block;
  padding: 0 10px 10px 15px;
  font-size: 20px;
  color: #fff;
  line-height: 20px;
}

.china_food .left_con h4 a {
  border-bottom: 1px solid #feeadd;
}

.index_floor .left_con h4 a i {
  font-style: normal;
  font-family: \5b8b\4f53;
  font-weight: bold;
}

.index_floor .left_con .en_tit {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}

.index_floor .left_con .floor_silder {
  position: relative;
  margin-top: 35px;
}
.index_floor .left_con .floor_silder ul {
  width: 195px;
  height: 225px;
  margin: 0 auto;
  position: relative;
}
.index_floor .left_con .floor_silder .turn_show {
  position: absolute;
  top: 234px;
  left: 67px;
  height: 30px;
  line-height: 30px;
  color: #f8f6f7;
}

.index_floor .left_con .floor_silder li {
  position: absolute;
  width: 195px;
  height: 225px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #fff;
}
.index_floor .left_con .floor_silder li a {
  display: block;
  height: 205px;
  padding-top: 20px;
}

.index_floor .left_con .floor_silder .turn_show {
  position: absolute;
  top: 234px;
  left: 67px;
  height: 30px;
  line-height: 30px;
  color: #f8f6f7;
}

.index_floor .left_con .floor_silder .prev_btn, .index_floor .left_con .floor_silder .next_btn {
  float: left;
  widows: 30px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.index_floor .left_con .floor_silder .show_num {
  float: left;
  padding: 0 20px;
  font-size: 14px;
}

.index_floor .left_con .comment {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 26px;
  overflow: hidden;
  padding: 8px 0;
  background-color: rgba(255, 255, 255, 0.2);
  line-height: 26px;
}
.index_floor .left_con .comment .comment_left {
  width: 42px;
  height: 26px;
  float: left;
  color: #fff;
}

.china_food .left_con .comment .comment_left {
  border-right: 1px solid #f7d9b7;
}

.index_floor .left_con .comment .comment_list {
  width: 173px;
  height: 26px;
  overflow: hidden;
  float: right;
  padding: 0 10px;
  text-align: left;
}
.index_floor .left_con .comment .comment_list li {
  color: #fff;
}

.index_floor .left_con .comment .comment_list a {
  color: #fff;
}

.index_floor .center_con {
  float: left;
  width: 744px;
}
.index_floor .center_con .keywords {
  height: 40px;
  overflow: hidden;
  border-right: 1px solid #f5f5f5;
  margin-left: 4px;
  color: #aaa;
}
.index_floor .center_con .keywords ul {
  margin-left: -3px;
}

.index_floor .center_con .keywords li {
  float: left;
}

.index_floor .center_con .keywords a {
  display: inline-block;
  margin: 0 15px;
  line-height: 40px;
  color: #aaa;
}

.index_floor .center_con .pro_wrap {
  float: left;
  position: relative;
  width: 247px;
  height: 194px;
  overflow: hidden;
  border-top: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
}
.index_floor .center_con .pro_wrap a {
  display: block;
  width: 247px;
  height: 174px;
  padding-top: 20px;
}

.index_floor .center_con .pro_wrap .pro_tit {
  position: relative;
  z-index: 105;
  height: 24px;
  overflow: hidden;
  max-width: 145px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #333;
}

.index_floor .center_con .pro_wrap .pro_sub_tit {
  position: relative;
  z-index: 105;
  height: 24px;
  overflow: hidden;
  max-width: 115px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 24px;
}

.china_food .center_con .pro_wrap .pro_sub_tit {
  color: #f78b4b;
}

.index_floor .center_con .pro_wrap img {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 101;
  width: 130px;
  height: 130px;
}

.index_floor .center_con .brand_wrap {
  float: left;
  position: relative;
  width: 247px;
  height: 194px;
  border-top: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
}
.index_floor .center_con .brand_wrap .brand_cover {
  position: relative;
  width: 204px;
  height: 162px;
  overflow: hidden;
  border: 21px solid #fff;
  border-top: 16px solid #fff;
  border-bottom: 16px solid #fff;
}

.index_floor .center_con .brand_wrap ul {
  position: absolute;
  top: -16px;
  left: -21px;
  width: 246px;
}

.index_floor .center_con .brand_wrap li {
  float: left;
  border-top: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
}

.index_floor .center_con .brand_wrap a {
  display: block;
  width: 80px;
  height: 32px;
  padding: 16px 21px 16px 21px;
}

.index_floor .center_con .brand_wrap img {
  width: 80px;
  height: 32px;
}

.index_floor .hot_con {
  float: right;
  width: 248px;
}

.index_floor .hot_con .hot_tit {
  margin-top: 15px;
  color: #666;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.index_floor .hot_con .rank_list {
  padding: 0 25px;
}
.index_floor .hot_con .rank_list li {
  margin-top: 15px;
}

.index_floor .hot_con .pro_img {
  position: relative;
  display: block;
}
.index_floor .hot_con .pro_img img {
  float: left;
}
.index_floor .hot_con .pro_img i {
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: #ff4040;
  text-align: center;
  line-height: 12px;
  color: #fff;
  font-style: normal;
  font-size: 11px;
}

.index_floor .hot_con .pro_img .rank_second {
  background-color: #ff8300;
}

.index_floor .hot_con .pro_img .rank_third {
  background-color: #f7c601;
}

.index_floor .hot_con .rank_detail {
  float: right;
  width: 125px;
}
.index_floor .hot_con .rank_detail .pro_name {
  height: 40px;
  overflow: hidden;
  line-height: 20px;
}
.index_floor .hot_con .rank_detail .pro_price {
  margin-top: 5px;
  color: #ff4040;
  font-family: "Microsoft YaHei";
}

.columns_wrap {
  margin-top: 20px;
}

.columns_wrap .columns_floor {
  width: 608px;
  height: 430px;
  background-color: #fff;
}

.live_fresh .floor_tit {
  background: #0bcd96;
}

.columns_wrap .floor_tit {
  height: 25px;
  padding: 12px 10px 12px 18px;
  color: #fff;
  line-height: 25px;
}
.columns_wrap .floor_tit h4 {
  float: left;
  font-size: 20px;
  font-weight: normal;
}

.columns_wrap .floor_tit a {
  color: #fff;
}

.columns_wrap .floor_tit .keywords {
  float: right;
  max-width: 430px;
  height: 24px;
  overflow: hidden;
  text-align: right;
  line-height: 24px;
}
.columns_wrap .floor_tit .keywords ul {
  margin-right: -5px;
}
.columns_wrap .floor_tit .keywords ul li {
  float: right;
}

.columns_wrap .floor_tit .keywords a {
  margin: 0 8px;
}

.columns_wrap .left_slider {
  position: relative;
  float: left;
  width: 236px;
  height: 381px;
  overflow: hidden;
}
.columns_wrap .left_slider .slider_nav {
  position: absolute;
  left: 18px;
  top: 87px;
  z-index: 105;
}
.columns_wrap .left_slider .slider_nav a {
  float: left;
  display: inline;
  width: 22px;
  height: 4px;
  overflow: hidden;
  padding: 13px 0;
  margin-right: 5px;
}

.columns_wrap .left_slider li {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
}
.columns_wrap .left_slider li a {
  display: block;
  width: 236px;
  height: 356px;
  padding-top: 25px;
}

.live_fresh .left_slider .caption {
  color: #0bcd96;
}

.columns_wrap .left_slider .caption {
  position: relative;
  z-index: 105;
  margin-left: 18px;
  font-size: 20px;
  line-height: 24px;
}

.columns_wrap .left_slider .sub_tit {
  position: relative;
  z-index: 105;
  margin-left: 18px;
  color: #999;
  font-size: 14px;
  line-height: 30px;
}

.columns_wrap .left_slider li a img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 102;
  width: 246px;
  height: 381px;
}

.columns_wrap .left_slider .slider_nav {
  position: absolute;
  left: 18px;
  top: 87px;
  z-index: 105;
}

.columns_wrap .left_slider .slider_nav a {
  float: left;
  _display: inline;
  width: 22px;
  height: 4px;
  overflow: hidden;
  padding: 13px 0;
  margin-right: 5px;
}

.columns_wrap .left_slider .slider_nav a em {
  display: block;
  height: 4px;
  overflow: hidden;
  background-color: #ccc;
  font-size: 0;
  line-height: 0;
}

.live_fresh .left_slider .slider_nav .cur em {
  background-color: #0bcd96;
}

.columns_wrap .pro_con {
  float: left;
  width: 186px;
  height: 381px;
  _overflow: hidden;
}

.columns_wrap .pro_wrap {
  position: relative;
  width: 185px;
  height: 190px;
  border-bottom: 1px solid #f5f5f5;
  border-left: 1px solid #f5f5f5;
}
.columns_wrap .pro_wrap a {
  display: block;
  height: 170px;
  padding-top: 20px;
}

.columns_wrap .pro_wrap img {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 101;
  width: 105px;
  height: 105px;
}

.columns_wrap .pro_wrap .pro_tit {
  height: 24px;
  max-width: 100px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #333;
  overflow: hidden;
}

.columns_wrap .pro_wrap .pro_sub_tit {
  height: 24px;
  position: relative;
  z-index: 105;
  max-width: 100px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 24px;
  overflow: hidden;
}

.live_fresh .pro_wrap .pro_sub_tit {
  color: #0bcd96;
}

.wine_drink .floor_tit {
  background: #96374e;
}

.columns_wrap .brand_wrap {
  position: relative;
  width: 180px;
  height: 165px;
  padding: 12px 3px 13px 2px;
  border-bottom: 1px solid #f5f5f5;
  border-left: 1px solid #f5f5f5;
}
.columns_wrap .brand_wrap .brand_cover {
  position: relative;
  width: 171px;
  height: 165px;
  overflow: hidden;
}
.columns_wrap .brand_wrap .brand_cover ul {
  position: absolute;
  top: -11px;
  left: -5px;
  width: 182px;
}
.columns_wrap .brand_wrap .brand_cover ul li {
  float: left;
  border-top: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
}

.columns_wrap .brand_wrap a {
  display: block;
  width: 80px;
  height: 32px;
  padding: 31px 5px;
}

.columns_wrap .brand_wrap img {
  width: 80px;
  height: 32px;
}

.wine_drink .left_slider .caption {
  color: #96374e;
}

.wine_drink .left_slider .slider_nav .cur em {
  background-color: #96374e;
}

.wine_drink .pro_wrap .pro_sub_tit {
  color: #96374e;
}

.care_makeup .left_con {
  background: #ff8fb7;
}

.care_makeup .left_con h4 a {
  border-bottom: 1px solid #ffe8f6;
}

.care_makeup .left_con .comment .comment_left {
  border-right: 1px solid #facddd;
}

.care_makeup .center_con .pro_wrap .pro_sub_tit {
  color: #ff87d0;
}

.baby_toy .floor_tit {
  background: #fe8282;
}

.baby_toy .left_slider .caption {
  color: #fe8282;
}

.baby_toy .left_slider .slider_nav .cur em {
  background-color: #fe8282;
}

.baby_toy .pro_wrap .pro_sub_tit {
  color: #fe8282;
}

.kitchen_clean .floor_tit {
  background: #6ac5ff;
}

.kitchen_clean .left_slider .caption {
  color: #6ac5ff;
}

.kitchen_clean .pro_wrap .pro_sub_tit {
  color: #6ac5ff;
}

.kitchen_clean .left_slider .slider_nav .cur em {
  background-color: #6ac5ff;
}

.home_life .left_con {
  background: #b89587;
}

.home_life .left_con h4 a {
  border-bottom: 1px solid #ede4e0;
}

.home_life .center_con .pro_wrap .pro_sub_tit {
  color: #925740;
}

.phone_electric .left_con {
  background: #7066ef;
}

.phone_electric .left_con h4 a {
  border-bottom: 1px solid #e2e7fd;
}

.phone_electric .center_con .pro_wrap .pro_sub_tit {
  color: #5c9bf1;
}

.known_you_like {
  margin-top: 20px;
}

.known_you_like h4 {
  text-align: center;
  font-size: 18px;
  font-weight: normal;
}
.known_you_like h4 u {
  display: inline-block;
  width: 27px;
  height: 18px;
  background: url(../images/indexbody_sprite.png?801dc06) no-repeat -180px 0;
  vertical-align: middle;
}
.known_you_like h4 span {
  vertical-align: middle;
}
.known_you_like h4 i {
  display: inline-block;
  width: 27px;
  height: 18px;
  background: url(../images/indexbody_sprite.png?801dc06) no-repeat -220px 0;
  vertical-align: middle;
}

.known_you_like .you_like_list ul {
  margin-right: -12px;
}
.known_you_like .you_like_list ul li {
  width: 236px;
  float: left;
  margin: 12px 12px 0 0;
}
.known_you_like .you_like_list ul li a {
  display: block;
  width: 214px;
  height: 293px;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #fff;
  background-color: #fff;
  color: #333;
}

.known_you_like .you_like_list .flip_wrap {
  margin: 0 auto;
}

.known_you_like .you_like_list .pro_pic {
  position: relative;
  padding-top: 220px;
  margin: 0 auto;
  background-color: #f8f8f8;
  text-align: center;
}
.known_you_like .you_like_list .pro_pic img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 220px;
}

.known_you_like .you_like_list .pro_name {
  position: relative;
  height: 40px;
  overflow: hidden;
  margin-top: 5px;
  line-height: 20px;
  font-size: 14px;
}

.mod_you_like .you_like_list .pro_name .pro_mask {
  position: absolute;
  left: 0;
  top: 40px;
  height: 40px;
  width: 220px;
}

.known_you_like .you_like_list .pro_price {
  height: 30px;
  margin-top: 5px;
  line-height: 30px;
  color: #f12c30;
  font-weight: bold;
  font-family: "Microsoft Yahei";
  font-size: 14px;
  float: left;
}

.known_you_like .you_like_list .pro_tag {
  float: right;
  margin-top: 5px;
}

.known_you_like .you_like_list .goods_icon {
  width: 30px;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
  margin-left: 2px;
}

.known_you_like .you_like_list .pro_tag .off_icon {
  float: left;
  margin-top: 6px;
  background-color: #fff3fa;
  color: #ff62a1;
  border: 1px solid #ffcce0;
}

.known_you_like .you_like_list .operate_area {
  display: none;
  margin-top: 2px;
  text-align: center;
  line-height: 30px;
}

.known_you_like .you_like_list .operate_area span {
  float: left;
  width: 102px;
  height: 30px;
}

.known_you_like .you_like_list .operate_area .view_detail {
  background-color: #ff4040;
  color: #fff;
}

.footercontent {
  height: 500px;
}

/*# sourceMappingURL=index.css.map */
