@charset "UTF-8";
@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont_new.eot?afc307a7?#iefix") format("embedded-opentype"), url("../fonts/iconfont_new.woff?afc307a7") format("woff"), url("../fonts/iconfont_new.ttf") format("truetype"), url("../fonts/iconfont_new.svg#uxiconfont") format("svg");
}
.prism_iconfont, .index_iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
}

.hd_iconfont {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iconfont180315';
  src: url("../fonts/iconfont180315.eot?afc307a7?#iefix") format("embedded-opentype"), url("../fonts/iconfont180315.woff?afc307a7") format("woff"), url("../fonts/iconfont180315.ttf") format("truetype"), url("../fonts/iconfont180315.svg#uxiconfont") format("svg");
}
.iconfont180315 {
  font-family: "iconfont180315" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrap {
  width: 1228px;
  margin: 0 auto;
}
.wrap:after {
  content: " ";
  display: table;
  clear: both;
}

.h_top_bar {
  height: 30px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #f4f4f4;
  line-height: 30px;
}

.hd_province {
  float: left;
}

.h_top_bar .hd_topbar_city {
  color: #666;
}

.h_top_bar .hd_topbar_city i {
  color: #ff4040;
}

.topbar_right {
  float: right;
  color: #666;
}

.topbar_right ul {
  float: left;
}

.topbar_right li {
  position: relative;
  float: left;
  height: 30px;
}

.topbar_right .login {
  float: left;
  padding: 0 10px;
}

.login span {
  color: #ff4040;
}

.login .log {
  color: #ff4040;
}

.login .reg {
  color: #aaa;
}

.topbar_right .hd_menu a {
  color: #666;
}

.h_top_bar .topbar_right li i.hd_iconfont {
  width: 14px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  color: #aaa;
}

.topbar_right .hd_title {
  float: left;
  min-width: 66px;
  width: 66px;
  height: 30px;
  padding: 0 10px;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
}

.topbar_right .hd_title a {
  color: #666;
}

.topbar_right .hd_title a:hover {
  color: #ff4040;
}

.h_top_bar .topbar_right .hd_menu {
  float: left;
  min-width: 66px;
  _width: 66px;
  height: 30px;
  padding: 0 10px;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
}

.topbar_right .hd_menu_list {
  position: absolute;
  top: 29px;
  left: 0px;
  display: none;
  width: 86px;
  padding: 5px 0;
  border: 1px solid #dbdbdb;
  border-top: 0 none;
  background-color: #fff;
}

.h_top_bar .topbar_right .hd_menu_list a {
  display: block;
  padding: 0 0 0 10px;
  line-height: 26px;
}

.topbar_right .hd_title .iconfont180315 {
  font-size: 18px;
  position: relative;
  top: 4px;
}

.topbar_right .hd_qrcode_bg {
  position: absolute;
  top: 30px;
  left: -10px;
  display: none;
  padding: 15px 9px 9px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
}

.topbar_right .hd_qrcode_bg .triangle {
  width: 0;
  height: 0;
  border-top: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #e5e5e5;
  position: absolute;
  top: -7px;
  left: 46px;
}

.topbar_right .hd_qrcode_bg p {
  text-align: center;
  line-height: 12px;
  margin-bottom: 7px;
}

.topbar_right .hd_qrcode_bg img {
  width: 90px;
  height: 90px;
}

.topbar_right .erweima:hover .hd_qrcode_bg {
  display: block;
  position: absolute;
  top: 30;
  left: -10;
  padding: 15px 9px 9px;
  border: #31017B px solid #e5e5e5;
  background-color: #fff;
}

.topbar_right .client:hover .hd_iconfont {
  transform: rotate(180deg);
  transition: all 0.2s linear;
}

.topbar_right .client:hover .hd_menu {
  background-color: #fff;
  border-color: #dbdbdb;
}

.topbar_right .client:hover .hd_menu_list {
  display: block;
}

.client {
  z-index: 600;
}

.erweima {
  z-index: 600;
}

.client a:hover {
  color: #ff4040;
}

.h_bottom_wrap {
  height: 150px;
  background-color: #fff;
}

.h_bottom_bar .hd_logo_area {
  float: left;
  width: 205px;
  height: 150px;
  margin-left: -25px;
}

.hd_logo_area .hd_logo {
  position: relative;
  display: block;
  width: 205px;
  height: 150px;
}

.hd_header_right {
  float: right;
  width: 974px;
  padding: 32px 14px 0 35px;
}
.hd_header_right .hd_head_search {
  position: relative;
  z-index: 501;
  padding-top: 40px;
  float: left;
  width: 754px;
}
.hd_header_right .hd_head_search .hd_search_form {
  position: absolute;
  top: 0;
  left: 0;
}

.hd_search_wrap {
  position: relative;
  z-index: 501;
  padding: 2px;
  _padding: 2px 2px 0px 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #ff4040;
}
.hd_search_wrap .hd_search_ipt {
  float: left;
  width: 685px;
  height: 36px;
  outline: 0 none;
  border: 0 none;
  padding-left: 15px;
  font-size: 14px;
  color: #aaa;
  line-height: 36px;
}
.hd_search_wrap .hd_search_btn {
  float: left;
  width: 50px;
  height: 36px;
  border: 0 none;
  background-color: #ff4040;
  text-align: center;
  line-height: 36px;
  color: #fff;
  cursor: pointer;
}
.hd_search_wrap .hd_search_btn i {
  font-size: 24px;
  text-decoration: none;
  font-style: normal;
}

.hd_hot_search {
  height: 36px;
  overflow: hidden;
}
.hd_hot_search a {
  float: left;
  margin-right: 15px;
  line-height: 36px;
  color: #aaa;
  font-size: 14px;
}

.hd_mini_cart {
  position: relative;
  z-index: 501;
  float: right;
}
.hd_mini_cart .hd_prism_cart {
  display: block;
  width: 130px;
  height: 20px;
  overflow: hidden;
  padding: 9px 0 9px;
  border: 1px solid #d7d7d7;
  background: #fff;
  text-align: center;
  line-height: 20px;
  color: #666;
  font-size: 16px;
}
.hd_mini_cart .hd_prism_cart em {
  margin-right: 12px;
  font-size: 20px;
}

.hd_header_nav {
  height: 40px;
  overflow: hidden;
  line-height: 40px;
}
.hd_header_nav li {
  display: inline;
  float: left;
  margin-right: 30px;
  font-size: 16px;
}

.regist_header {
  padding: 16px;
  background: #FFF;
  border: 1px solid #e1e1e1;
}

.regist_header .wrap {
  width: 1200px;
}

.regist_header .logo {
  display: block;
  float: left;
  width: 54px;
  height: 48px;
}

.regist_header_right {
  float: right;
  line-height: 20px;
  color: #999;
}

.regist_header_right .help_wrap {
  position: relative;
  z-index: 1010;
  float: right;
  padding: 0 6px;
  margin-left: 25px;
}
.regist_header_right .help_wrap a.hd_menu {
  padding-right: 18px;
  background: url(../images/regist.png?89c7455) no-repeat right -27px;
  color: #333;
}

.regist_header_right .help_wrap a.hd_menu .help_ico {
  width: 16px;
  height: 18px;
  display: inline-block;
  margin-right: 6px;
  background: url(../images/regist.png?89c7455) no-repeat -344px 0;
  vertical-align: middle;
}

.regist_header_right .help_wrap .hd_menu_list {
  display: none;
  position: absolute;
  z-index: -1;
  top: 0px;
  right: 0;
  width: 98px;
  padding-top: 21px;
  border: 1px solid #ccc;
}

.regist_header_right .help_wrap_hover .hd_menu_list ul {
  background: #FFF;
}

.regist_header_right .hd_menu_list a {
  height: 24px;
  display: block;
  padding-left: 25px;
  border-top: 1px dotted #e4e4e4;
  background: #FFF;
  line-height: 24px;
}

.fr {
  float: right;
}

a.blue_link {
  color: #06c;
}

.ft_wrap {
  background: #FFF;
}

.footer_top {
  padding: 30px 0;
  border-bottom: 1px solid #ebebeb;
}
.footer_top a {
  float: left;
  display: block;
  _display: inline;
  width: 205px;
  overflow: hidden;
  margin: 0 51px;
}
.footer_top a img {
  float: left;
  display: block;
  _display: inline;
  width: 66px;
  height: 66px;
  margin-right: 15px;
}
.footer_top a b {
  display: block;
  margin-top: 10px;
  font-family: "Microsoft YaHei";
  font-size: 16px;
  color: #333;
}
.footer_top a span {
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color: #999;
  line-height: 26px;
}

.footer_middle {
  padding: 20px 0 20px;
  overflow: hidden;
}

.footer_middle_list {
  float: left;
  padding-left: 15px;
}

.footer_middle dl {
  float: left;
  display: block;
  _display: inline;
  width: 195px;
}
.footer_middle dl dt {
  height: 32px;
  padding: 0 8px;
  font-size: 14px;
  color: #666;
  line-height: 32px;
  overflow: hidden;
  color: #666;
  font-weight: bold;
}
.footer_middle dl dd {
  height: 24px;
  padding: 0 8px;
  line-height: 24px;
  overflow: hidden;
  white-space: normal;
  font-size: 12px;
}
.footer_middle dl dd a {
  color: #666;
}

.footer_erweima {
  width: 280px;
  overflow: hidden;
  float: left;
  margin-right: -50px;
}
.footer_erweima .erweima_mobile {
  float: left;
  margin-right: 50px;
  line-height: 32px;
  font-size: 14px;
  font-weight: bold;
  color: #666;
}

.footer_bottom p {
  color: #666;
  text-align: center;
  text-indent: 0;
  line-height: 100%;
  margin: 15px 0;
  padding: 0;
}

.footer_bottom_link a {
  color: #666;
  margin: 0px 10px;
}

.footer_bottom_brand {
  display: block;
  padding: 10px 0 20px;
  text-align: center;
  font-size: 0;
}
.footer_bottom_brand a {
  display: inline-block;
  margin: 0 4px;
}

.simplefooter {
  width: 980px;
  margin: 20px auto 0;
  text-align: center;
}

.simplefooter a {
  margin: 0 8px;
  color: #333;
}

.simplefooter p {
  margin-top: 10px;
  color: #333;
}

.y_regist_wrap {
  position: relative;
  border-bottom: 1px solid #f4f4f4;
  background: #fcfcfc;
  padding: 30px 0 40px;
}

.y_regist_model {
  position: relative;
  z-index: 150;
  width: 330px;
  margin: 0 auto;
}

.y_regist_tit {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
  color: #333;
}

.y_regist_form li {
  position: relative;
  min-height: 52px;
  margin-top: 10px;
  margin-right: -200px;
}

.y_regist_form .y_same_item {
  position: relative;
  z-index: 2;
  width: 328px;
  height: 50px;
  border: 1px solid #dedede;
  border-radius: 3px;
}

.y_regist_form .ysame_input {
  position: relative;
  z-index: 2;
  width: 288px;
  height: 20px;
  margin-top: 15px;
  padding: 0px 20px;
  background: 0;
  border: 0;
  outline: 0;
  font-size: 14px;
  line-height: 20px;
  color: #666;
}

.y_regist_form .y_same_label {
  position: absolute;
  left: 20px;
  top: 0px;
  display: inline-block;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  color: #666;
}

.y_regist_tips {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  left: 348px;
  top: 0;
  font-size: 12px;
  color: #fff;
}

.y_regist_tips .y_regtip_rel {
  padding: 10px;
  background: #e4e4e4;
}

.y_regist_tips .y_regtip_rel i,
.y_regist_tips_keywords .y_regtip_rel i {
  position: absolute;
  left: -10px;
  top: 50%;
  z-index: 2;
  width: 0;
  height: 0;
  overflow: hidden;
  line-height: 0;
  margin-top: -5px;
  border-color: transparent #e4e4e4 transparent transparent;
  border-style: dashed solid dashed dashed;
  border-width: 5px;
  font-size: 0;
}

.y_regist_tips .y_regtip_rel .y_tips_words {
  max-width: 160px;
  line-height: 20px;
  color: #666;
}

.y_regist_right {
  display: none;
  position: absolute;
  left: 348px;
  top: 14px;
  width: 23px;
  height: 23px;
  background: url(../images/regist_new.png?89c7455) no-repeat -50px 0;
}

.y_regist_form .ishort_li .y_same_item,
.y_regist_form .short_opacity_bg {
  width: 192px;
}

.y_regist_form .ishort_li .y_same_item .ysame_input {
  width: 152px;
}

.y_regist_form .r_yzm_code {
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 126px;
  height: 52px;
  margin-left: 10px;
  border-radius: 2px;
}

.y_regist_form .r_yzm_code img {
  width: 124px;
  height: 50px;
  border: 1px solid #dedede;
  border-radius: 2px;
}

.y_regist_form .same_code_btn {
  position: relative;
  z-index: 2;
  width: 126px;
  height: 50px;
  margin-left: 10px;
  text-align: center;
  background-color: #57565f;
  line-height: 52px;
  color: #fff;
  cursor: default;
  border-radius: 2px;
  font-size: 14px;
}

.y_regist_tips_keywords {
  display: none;
  position: absolute;
  left: 348px;
  top: 9px;
  font-size: 12px;
  color: #fff;
}

.y_regist_tips_keywords .y_regtip_rel {
  width: 120px;
  padding: 10px;
  background: #e4e4e4;
}

.y_agreement_word {
  height: 35px;
  font-size: 12px;
  line-height: 35px;
  color: #666;
  text-indent: 1em;
}

.y_agreement_word a {
  color: #06c;
  text-decoration: none;
  font-size: 12px;
}

a.y_agreement_btn {
  display: block;
  width: 330px;
  height: 52px;
  margin-top: 6px;
  background-color: #ff3c3c;
  font-size: 16px;
  line-height: 52px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
}

@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot?89c7455?t=02211762577#iefix&") format("embedded-opentype"), url("../fonts/iconfont.woff?89c7455?t=02211762577") format("woff"), url("../fonts/iconfont.ttf?t=02211762577") format("truetype"), url("../fonts/iconfont.svg?t=02211762577#iconfont") format("svg");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  color: #ccc;
}

.login_wrap {
  padding: 26px 0 0;
  background: url(../images/regist_topshadow.png?89c7455) repeat-x;
}

.login_wrap .wrap {
  width: 980px;
  margin: 0 auto;
}

.mod_login_wrap {
  position: relative;
  _display: inline;
  float: right;
  width: 330px;
  padding: 45px 35px 0 35px;
  background-color: #fff;
}

.mod_login_wrap h3 {
  float: left;
  font-size: 14px;
  color: #666;
  font-weight: bold;
  line-height: 30px;
}

.mod_login_wrap .regist_new {
  float: right;
  line-height: 30px;
}

.mod_login_wrap .login_form {
  position: relative;
  padding: 0 0 18px;
}

.mod_login_wrap .form_item_wrap {
  width: 330px;
  margin: 0 auto;
}
.mod_login_wrap .form_item_wrap .form_item {
  position: relative;
  z-index: 100;
  height: 24px;
  margin-bottom: 10px;
  padding: 14px 18px;
  border: 1px solid #dedede;
  background: #FFF;
  line-height: 24px;
}

.mod_login_wrap .form_item_wrap .form_item label {
  display: inline-block;
  width: 42px;
  vertical-align: middle;
  color: #666;
}

.mod_login_wrap .form_item_wrap .form_item .user_ico {
  background: url(../images/login_new.png?89c7455) no-repeat -50px 4px;
}

.mod_login_wrap .form_item_wrap .form_item .paswd_ico {
  background: url(../images/login_new.png?89c7455) no-repeat -150px 4px;
}

.mod_login_wrap .form_item_wrap .form_item .ipt {
  width: 230px;
  height: 24px;
  padding-left: 3px;
  border: 0 none;
  line-height: 24px;
  vertical-align: middle;
  font-family: "Microsoft YaHei";
  font-size: 14px;
}

.mod_login_wrap .form_item_wrap .form_item .gay_text {
  color: #ccc;
}

.mod_login_wrap .form_item_wrap .auto_login {
  position: relative;
  margin: 10px 0;
  line-height: 24px;
  min-height: 24px;
}

.mod_login_wrap .form_item_wrap .auto_tips {
  float: left;
  margin-left: 7px;
  _display: inline;
  color: red;
}

.mod_login_wrap .form_item_wrap .login_btn {
  width: 330px;
  height: 52px;
  border: 0 none;
  border-radius: 3px;
  background: #ff3c3c;
  font-size: 16px;
  color: #FFF;
  cursor: pointer;
  text-shadow: 1px 1px 1px #ff7373;
  line-height: 52px;
}

.mod_login_wrap .form_item_wrap a.uncheck_agreement {
  float: left;
  padding-left: 18px;
  background: url(../images/login.png?89c7455) no-repeat -347px -265px;
  color: #999;
}

.mod_login_wrap .form_item_wrap a.check_agreement {
  float: left;
  padding-left: 18px;
  background: url(../images/login.png?89c7455) no-repeat -347px -325px;
  color: #999;
}

.mod_login_wrap .form_item_wrap a.forget_pswd {
  position: absolute;
  right: 0;
  top: 0;
  color: #999;
}

.joint_landing_wrap {
  position: relative;
  z-index: 10;
}

.mod_login_wrap .joint_landing_wrap p {
  padding: 15px 0;
  color: #666;
}

.mod_login_wrap .joint_landing_wrap .account_list {
  float: left;
  width: 230px;
}
.mod_login_wrap .joint_landing_wrap .account_list li {
  float: left;
  margin: 0 20px 0 0;
}

.mod_login_wrap .joint_landing_wrap .account_list a.iconfont {
  display: inline-block;
  width: 32px;
  height: 35px;
  font-size: 32px;
  line-height: 35px;
}

.mod_login_wrap .joint_landing_wrap .qq {
  color: #10a8ff;
}

.mod_login_wrap .joint_landing_wrap .jingdong {
  position: relative;
  top: 2px;
  color: #c81825;
}

.mod_login_wrap .joint_landing_wrap .weixin {
  color: #0c0;
}

.mod_login_wrap .joint_landing_wrap .sina {
  color: #dd2e37;
}

.mod_login_wrap .joint_landing_wrap .unfold {
  float: right;
  display: block;
  line-height: 34px;
  color: #999;
}

.mod_login_wrap .joint_landing_wrap .unfold i {
  display: inline-block;
  width: 20px;
  height: 26px;
  margin-top: 4px;
  margin-left: 5px;
  background: url(../images/login_new.png?89c7455) no-repeat -200px 3px;
  vertical-align: middle;
}

.mod_login_wrap .more_landing {
  margin-top: 15px;
}

.mod_login_wrap .more_landing li {
  float: left;
  width: 82px;
  margin: 0 0 10px 0;
  line-height: 16px;
}

.mod_login_wrap .more_landing a {
  color: #999;
  line-height: 16px;
}

.mod_login_wrap .more_landing a i {
  margin-right: 4px;
}

.mod_login_wrap .joint_landing_wrap .alipay {
  color: #00b2ee;
}

.mod_login_wrap .joint_landing_wrap .wangyi {
  color: #c4282b;
}

.mod_login_wrap .joint_landing_wrap .baidu {
  color: #2932e1;
}

.mod_login_wrap .joint_landing_wrap .renren {
  color: #005eac;
}

.mod_login_wrap .joint_landing_wrap .pingan {
  color: #ff3204;
}

.mod_login_wrap .joint_landing_wrap .mogujie {
  color: #e84478;
}

.login_switch {
  position: absolute;
  right: 0;
  bottom: -3px;
}

.login_switch a {
  display: block;
  width: 62px;
  height: 62px;
  cursor: pointer;
}

.login_switch .two_dimension_code {
  background: url(../images/codeSwich.png?89c7455) no-repeat -88px 0;
}

.login_switch .static_pc {
  display: none;
  background: url(../images/codeSwich.png?89c7455) no-repeat 0 0;
}

.mod_left_banner {
  margin-top: 45px;
  width: 510px;
  height: 315px;
  float: left;
}
.mod_left_banner img {
  width: 510px;
  height: 315px;
}

.iconDetail {
  font-family: "detail" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "detail";
  src: url("../fonts/detail.eot?8ffc6d7?#iefix") format("embedded-opentype"), url("../fonts/detail.woff?8ffc6d7") format("woff"), url("../fonts/detail.ttf") format("truetype"), url("../fonts/detail.svg#iconfont") format("svg");
}
.detail_wrap {
  width: 1200px;
  margin: 0 auto;
  border-top: 2px solid #ff4040;
}

.mod_detail_snav {
  margin-bottom: 10px;
}

.mod_detail_snav .snav {
  float: left;
  padding: 12px 0;
  width: 720px;
  height: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  zoom: 1;
}

.mod_detail_snav .snav a,
.mod_detail_snav .snav span {
  padding: 12px 0;
  height: 15px;
  line-height: 15px;
}

.mod_detail_snav .snav a {
  margin-right: 10px;
  color: #555;
}

.mod_detail_snav .snav span {
  width: 125px;
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mod_detail_snav .snav a i {
  margin-left: 10px;
  line-height: 16px;
  vertical-align: middle;
}

.detail_one .le, .detail_one .main_content {
  float: left;
}

.detail_one .le {
  width: 400px;
  margin-right: 25px;
}
.detail_one .le .le_wrap {
  width: 400px;
  height: 485px;
  position: relative;
}

#spic {
  width: 400px;
  height: 400px;
  border: 1px solid #ddd;
  float: left;
  position: relative;
}

#spic img {
  width: 400px;
  height: 400px;
}

#sf {
  width: 50px;
  height: 50px;
  background: orange;
  opacity: 0.3;
  position: absolute;
  left: 0px;
  top: 0px;
  visibility: hidden;
}

#bf {
  width: 400px;
  height: 500px;
  border: 1px solid #000;
  float: left;
  overflow: hidden;
  position: relative;
  left: 10px;
  display: none;
}

#bf img {
  position: absolute;
  left: 0px;
  top: 0px;
}

#ulist {
  position: absolute;
  left: 0px;
  bottom: 15px;
  width: 402px;
  height: 56px;
  overflow: hidden;
}

#ulist a {
  float: left;
  width: 10px;
  height: 54px;
  border: 1px solid #ccc;
  text-decoration: none;
  line-height: 56px;
  text-align: center;
  background: #fff;
}

#list {
  float: left;
  margin-left: 18px;
  width: 372px;
  position: relative;
}
#list ul {
  /*移动的元素*/
  list-style: none;
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
}
#list ul li {
  float: left;
  width: 56px;
  height: 56px;
  padding-right: 6px;
}
#list ul li img {
  width: 52px;
  height: 52px;
  border: 1px solid #ccc;
}

#right {
  position: absolute;
  right: 0px;
  top: 0px;
  color: #333;
}

#left {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  color: #fff;
}

.product_rel {
  padding: 12px 0;
}

.prod_l {
  float: left;
}

.product_rel .product_id {
  float: left;
  padding-right: 6px;
  margin: 2px 6px 0 0;
  color: #999;
  border-right: 1px solid #ccc;
  line-height: 14px;
  white-space: nowrap;
}

.product_rel .product_id span {
  padding-right: 5px;
}

.product_rel .collect {
  float: left;
}

.product_rel .collect .collect_icon {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  width: 20px;
  height: 17px;
}

.product_rel .collect .heart {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 5px;
}

.product_rel .collect .heart_active {
  position: absolute;
  top: 20px;
  left: 5px;
}

.product_rel .collect i, .product_rel .collect span, .product_rel .contrast span {
  padding-left: 5px;
  vertical-align: middle;
}

@font-face {
  font-family: "yhd-fe-iconfont";
  src: url("../fonts/iconfont_common.eot?8ffc6d7#iefix") format("embedded-opentype"), url("../fonts/iconfont_common.woff?8ffc6d7") format("woff"), url("../fonts/iconfont_common.ttf") format("truetype"), url("../fonts/iconfont_common.svg#iconfont") format("svg");
}
.yhd-fe-iconfont {
  font-family: "yhd-fe-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
}

.product_rel .collect i {
  font-size: 16px;
  color: #ff8a5e;
}

.detail_one .main_content {
  width: 570px;
  margin-right: 24px;
}

.detail_information {
  position: relative;
}

.information_proname {
  margin-bottom: 10px;
}

.information_proname .mh {
  font-size: 16px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.information_price {
  border-top: 1px solid #ffcbc4;
  background-color: #fde5e0;
}

.information_price .price {
  position: relative;
  padding: 10px 0 5px 0;
  padding-bottom: 10px;
}

.information_price .price li {
  float: left;
  line-height: 28px;
}

.information_price .price li.tag {
  color: #666;
  width: 60px;
  padding-left: 10px;
}

.information_price .price li.number {
  color: #e60012;
  font-size: 26px;
  margin-right: 10px;
  font-weight: bold;
}
.information_price .price li.number span {
  float: left;
}

.information_price .pink {
  height: 30px;
  background-color: #fff4f2;
  padding-left: 70px;
  line-height: 30px;
  border-top: 1px solid #ffcbc4;
}

.information_price .pink li {
  float: left;
  color: #666;
  margin-right: 13%;
  line-height: 30px;
}

.information_price .pink li .hpl a, .information_price .pink li .last a {
  color: #666;
}

.information_price .pink li .iconDetail {
  color: #ff875a;
  padding-right: 4px;
}

.information_price .pink li strong {
  color: #ff875a;
}

.information_price .pink li .pl {
  color: #aaa;
}

.information_price .pink li .orange {
  color: #ff875a;
}

.information_promotion {
  padding-top: 15px;
  margin-bottom: 5px;
  position: relative;
  z-index: 15;
}

.information_promotion dt, .information_promotion dd, .mod_detailInfo_combList dt, .mod_detailInfo_combList dd {
  float: left;
}

.information_promotion dt, .mod_detailInfo_combList dt {
  width: 60px;
  color: #666;
  padding-left: 10px;
  line-height: 26px;
}

.information_promotion dd {
  width: 486px;
}
.information_promotion dd .list {
  margin-bottom: 10px;
}

.information_promotion dd .list .fr {
  color: #999;
}

.information_promotion dd .list .fr .yow {
  color: #ff875a;
  font-weight: bold;
}

.information_promotion dd .list .fl {
  float: left;
  width: 340px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 16px;
  line-height: 16px;
  white-space: nowrap;
}

.information_promotion .list .fl {
  width: auto;
  overflow: visible;
}

.information_promotion dd .list .fl .sub {
  float: left;
  height: 14px;
  line-height: 14px;
  padding: 1px 5px;
  color: #fff;
  background-color: #ff875a;
  border-radius: 1px;
  margin-right: 10px;
}

.information_promotion dd .list .fl .tit {
  float: left;
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.information_color {
  border: dotted #d9d9d9;
  border-width: 1px 0;
  padding: 15px 0 5px 0;
  position: relative;
  z-index: 16;
}

#choose_color-attr-1 {
  line-height: 40px;
}

#choose_color .li {
  width: 516px;
  padding: 5px 0 5px 72px;
  float: left;
}

#choose_color .dt {
  float: left;
  width: 90px;
  margin-left: -90px;
  display: inline;
  text-align: right;
  font-family: simsun;
  font-size: 12px;
  color: #666;
}

#choose_color-attr-1 .dt {
  margin-top: 10px;
}

.p-choose_color-wrap .item {
  float: left;
  margin: 2px 8px 2px 0;
  position: relative;
}

.p-choose_color .item a {
  float: left;
}

.p-choose_color-wrap .item a {
  padding: 4px 6px;
  border: 1px solid #ddd;
  background: #fff;
  color: #333;
}

#choose_color a {
  display: block;
  white-space: nowrap;
  text-decoration: none;
}

#choose_color-attr-1 .item a {
  font-size: 0;
  padding: 1px;
}

#choose_color-attr-1 .item a {
  padding: 0;
}

#choose_color-attr-1 .item a img {
  margin: 1px 3px 1px 1px;
  display: inline-block;
  vertical-align: middle;
}

#choose_color-attr-1 .item a i {
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
  margin: 0 8px;
}

#choose_color-attr-1 i {
  font-style: normal;
}

.p-choose_color-wrap .item.selected b {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 12px;
  height: 12px;
  overflow: hidden;
  background: url(//static.360buyimg.com/item/main/1.0.35/css/i/newicon20140910.png?8ffc6d7) no-repeat -202px -224px;
}

#choose_color-attrs .item.hover a, #choose_color-attrs .item.selected a, #choose_color-attrs .item:hover a {
  border: 1px solid #e60021;
  color: #333;
}

.information_addressbox {
  padding-top: 15px;
}

.error_txt {
  display: none;
  padding-left: 1em;
  background-color: #ffe9e9;
  color: #ff3c3c;
  height: 26px;
  line-height: 26px;
  margin-bottom: 15px;
  clear: both;
}

.information_addressbox dt, .information_ensure dt {
  float: left;
  height: 26px;
  line-height: 26px;
  width: 60px;
  color: #666;
  padding-left: 10px;
}

.information_addressbox dd {
  float: left;
}

.information_addressbox dd .add_one {
  margin-bottom: 10px;
}

.add_selectbox {
  position: relative;
  float: left;
  margin-right: 10px;
}
.add_selectbox .input_btn {
  position: relative;
  float: left;
  padding: 0 8px;
  height: 24px;
  border: 1px solid #ccc;
  line-height: 24px;
  z-index: 5;
  cursor: pointer;
}

.information_addressbox dd .add_two, .information_addressbox dd .area_info {
  width: 498px;
}

.information_addressbox dd .area_info p {
  line-height: 26px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
}

.information_addressbox dd .area_info p strong {
  font-size: 12px;
  color: #333;
}

.information_addressbox dd .add_two {
  position: relative;
  line-height: 16px;
  color: #666;
}

.detail_information .link {
  color: #06c;
}

.information_addcart {
  margin-bottom: 10px;
  padding-left: 70px;
  padding-top: 10px;
}

.information_addcart .count_item, .information_addcart .cartbox {
  float: left;
}

.information_addcart .count_item .count_num {
  width: 46px;
  height: 46px;
}

.information_addcart .count_item .count_num input {
  display: block;
  width: 46px;
  height: 46px;
  border: 1px solid #c8c7cc;
  color: #333;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 46px;
  overflow: hidden;
}

.information_addcart .count_item .count_num, .information_addcart .count_item .count_act {
  float: left;
}

.information_addcart .count_item .count_act input {
  display: block;
  width: 24px;
  height: 24px;
  border: 0;
  cursor: pointer;
}

.information_addcart .count_item .count_act .add {
  background: url(../images/detail_sprit24.png?8ffc6d7) no-repeat;
  background-position: -124px -49px;
}

.information_addcart .count_item .count_act .no_reduce {
  background: url(../images/detail_sprit24.png?8ffc6d7) no-repeat;
  background-position: -148px -73px;
  cursor: default;
}

.information_addcart .cartbox {
  max-width: 400px;
}

.information_addcart .cartbox a.add_btn {
  width: 138px;
  height: 48px;
  font-size: 0;
  line-height: 0;
  border: 0;
  background: url(../images/detail_sprit24.png?8ffc6d7) no-repeat;
  background-position: 0 -691px;
}

.information_addcart .cartbox a {
  position: relative;
  float: left;
  margin-left: 8px;
  display: block;
  text-align: center;
  color: #ec5547;
}

.information_addcart .cartbox a.link {
  color: #06c;
  font-size: 12px;
  background: 0;
  line-height: 76px;
  font-weight: normal;
  border: 0;
}

.information_ensure {
  border-top: 1px dotted #d9d9d9;
}

.information_ensure dt {
  height: 40px;
  line-height: 40px;
}

.information_ensure dt, .information_ensure dd, .information_ensure dd a {
  float: left;
}

.information_ensure dd {
  width: 495px;
  padding: 10px 0;
}

.information_ensure dd a {
  font-weight: normal;
  margin-right: 20px;
  color: #666;
  height: 20px;
  line-height: 20px;
}

.information_ensure dd a .iconDetail {
  color: #69a519;
  padding-right: 2px;
  vertical-align: -1px;
}

.yhd_cart_content {
  height: 600px;
  background: url(../images/bg1200.png) no-repeat top center fixed;
}

.yhd_cart_content .wrap {
  width: 1200px;
  margin: 0 auto;
}

.cart_header {
  height: 60px;
  padding-top: 10px;
}

.cart_header h1 {
  float: left;
}
.cart_header h1 .logo {
  float: left;
  padding-top: 17px;
  width: 40px;
  height: 28px;
  margin-right: 10px;
  background: url(../images/logo.png) no-repeat bottom;
}
.cart_header h1 .logo_txt {
  float: left;
  padding-top: 8px;
  width: 73px;
  height: 40px;
  margin-right: 10px;
  background: url(../images/logo_txt.png) no-repeat 0 20px;
}

.cart_header .area_wrapper {
  float: left;
  height: 26px;
  width: 235px;
  padding-top: 18px;
  padding-left: 10px;
  line-height: 26px;
}
.cart_header .area_wrapper .area_txt {
  float: left;
}

.mod_area_select {
  float: left;
  position: relative;
  z-index: 1009;
}

.address {
  float: left;
  position: absolute;
  z-index: 1009;
  height: 22px;
  line-height: 22px;
  padding: 2px 38px 2px 11px;
  border: 1px solid #eceaea;
  border-radius: 5px;
  background: #fcfbfb;
  cursor: pointer;
}
.address .val_text {
  color: #666;
  white-space: nowrap;
}
.address .val_text i {
  margin: 0 9px;
  font-style: normal;
}

.address .btn_arrow {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 12px;
  height: 6px;
  background: url(../images/sprite.png) -60px -25px;
}

.cart_header .search {
  float: right;
  width: 260px;
  height: 20px;
  padding: 5px 10px;
  margin: 15px 0;
  border: 1px solid #eceaea;
  border-radius: 5px;
  background: #fcfbfb;
}
.cart_header .search input {
  float: left;
  width: 230px;
  height: 20px;
  border: none;
  background: #fcfbfb;
  color: #666;
  outline: none;
}

.cart_header .search .search_btn {
  display: inline-block;
  width: 30px;
  height: 20px;
  text-align: center;
  color: #aaa;
  line-height: 22px;
}

@font-face {
  font-family: 'iconfont-cart';
  src: url("../fonts/iconfont_new.eot?afc307a7?#iefix") format("embedded-opentype"), url("../fonts/iconfont_new.woff?afc307a7") format("woff"), url("../fonts/iconfont_new.ttf") format("truetype"), url("../fonts/iconfont_new.svg#uxiconfont") format("svg");
}
.hd_iconfont {
  font-family: "iconfont-cart" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
}

.cart_list_header {
  margin: 10px auto;
  padding: 0 30px;
  height: 40px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  background: #fff;
  color: #666;
  line-height: 40px;
}

.cart_tit span {
  display: inline-block;
}

.cart_tit .checkbox {
  width: 125px;
  cursor: pointer;
}

.check {
  position: relative;
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 20px;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  background-color: #fff;
}

.cart_tit .checkbox .check {
  vertical-align: middle;
}

.cart_tit .price {
  width: 205px;
  text-align: right;
}

.cart_tit .num {
  width: 320px;
  text-align: center;
}

.cart_tit .total {
  width: 80px;
  padding-right: 50px;
  text-align: right;
}

.cart_tit .act {
  width: 80px;
  text-align: center;
}

/*# sourceMappingURL=other.css.map */
